{% include '@EasyAdmin/page/content.html.twig' %}

<div id = "personaContacto">
    <!-- Cargar archivos JS de JQuery UI -->
    <script src = "https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src = "js/personaContacto/crearPersonaContacto.js"></script>
    <script src = "https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    
    <!-- Cargar los CSS de JQuery UI -->
    <link rel = "stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel = "stylesheet" href = "{{ asset('css/estilo/crearPersonaContacto.css') }}" type = "text/css">

    <form action = "/admin?routeName = personasContacto" method = "post">
        <div class = "col-md-3">
            <div class = "form-group">
                <label for = "nombre" class = "form-control-label required">Nombre:</label>
                <input type = "text" class = "form-control" name = "nombre" id = "nombre" size = "255" placeholder = "María" required>
                <label class = "errores" id = "errNombre">Introduce un nombre.</label>
            </div>
        </div>
        <div class = "col-md-3">
            <div class = "form-group">
                <label for = "apellido1" class = "form-control-label required">Primer Apellido:</label>
                <input type = "text" class = "form-control" name = "apellido1" id = "apellido1" placeholder = "González" required>
                <label class = "errores" id = "errApe1">Introduce un apellido.</label>
            </div>
        </div>

        <div class = "col-md-3">
            <div class = "form-group">
                <label for = "apellido2" class = "form-control-label">Segundo Apellido:</label>
                <input type = "text" class = "form-control" name = "apellido2" id = "apellido2" placeholder = "Alcalá">
            </div>
        </div>
        <div class = "col-md-3">
            <div class = "form-group">
                <label for = "telefono" class = "form-control-label required">Teléfono:</label>
                <input type = "tel" class = "form-control" name = "telefono" id = "telefono" pattern = "\d{9}" placeholder = "953123456" required>
                <label class = "errores" id = "errTel">Introduce un teléfono válido.</label>
            </div>
        </div>
    </form>

</div>