.form-group 
{
    margin-bottom: 20px;
}

.errores
{
    visibility: hidden;
    color: red !important;
}


label 
{
    font-weight: bold;
}

input:focus,
select:focus 
{
    outline: none;
    border-color: #66afe9; 
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5); 
}