{% include '@EasyAdmin/page/content.html.twig' %}

<div id = "verRepresentantes">
    <!-- Cargar archivos JS de JQuery UI -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src = "js/representante/verRepresentante.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- Cargar los CSS de JQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <table class = "table datagrid ">
        <thead>
            <tr>
                <th data-column = "nombre" class = "header-for-field-email text-" dir = "ltr">
                    <a href="#">
                        DNI 
                    </a>
                </th>
                <th data-column = "nombre" class = "header-for-field-text text-" dir="ltr">
                    <a href="#">
                        Nombre 
                    </a>
                </th>
                <th data-column = "apelllido1" class = "header-for-field-text text-" dir = "ltr">
                    <a href="#">
                        Primer Apellido
                    </a>
                </th>

                <th data-column = "apelllido2" class="  header-for-field-text text-" dir = "ltr">
                    <a href="#">
                        Segundo Apellido
                    </a>
                </th>

                <th data-column = "cargo" class = "field-virtual header-for-field-image text-center" dir = "ltr">
                    <span>Cargo</span>
                </th>

                <th class="actions-as-dropdown-table-head" dir="ltr">
                    <span class="sr-only">Actions</span>
                </th>
            </tr>
        </thead>

        <tbody>
        </tbody>

        <tfoot>
        </tfoot>
    </table>

</div>