{% include '@EasyAdmin/page/content.html.twig' %}

{% block body %}
    <div id = "calendarioAdmin">
        <script src = "https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
        <script src = "js/admin/admin.js"></script>

        <div id = 'calendar'></div>
    </div>
{% endblock %}


