
.sidebar
{
    background-color: #1e4f7f;
}

.menu-item span, .menu-item i::before, .content-header-title h1, .user-name
{
    color: white;
}

.logo-custom
{
    color: white;
    font-size: 24px;
    font-weight: bold;  
}

.menu li:hover
{
    background-color: #6f8ca8;
}

.main-content aside
{
    background-color: #1e4f7f;
}

.content-wrapper, .main-content
{
    background: -webkit-linear-gradient(top, #a5b8cb, #bbcad8);
}

.content-header
{
    background-color:  #a5b8cb;
}

.btn
{
    background-color: #1e4f7f;
    color: white;
}

.btn:hover
{
    background-color: #6183a5 !important;
    color: white;
}

.menu-item-label
{
    color: white;
}